.usersPage {
	color: bisque;
}

.users__usersList {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}


.users a:hover {
	color: rgb(162, 171, 187);
}

.users button {
	text-align: left;
	color: cornflowerblue;
}

.users button:hover {
	text-align: left;
	color: rgb(72, 111, 184);
}

.link {
	display: flex;
	align-items: center;
	gap: 16px;
}

.link__userPhoto {
	width: 45px;
	border-radius: 50%;
}

.link__username {
	font-size: 24px;
	width: 255px;
}
