.usersPage {
	display: flex;
	flex-direction: column;
	align-items: end;
	color: var(--text-color);
}

.startInfo__title {
	margin: 0 auto 0 0;
	font-size: 40px;
	font-weight: 300;
	padding-left: 28px;
}

.usersPage__startInfo {
	display: flex;
	width: 100%;
	margin-bottom: 40px;
}

.users__usersList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	width: 93%;
	height: 60vh;
	gap: 10px;
	overflow: hidden;
	overflow-y: auto;
}

.startInfo__search {
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.search__title {
	margin: 0;
	padding-left: 17px;
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
}

.search__input {
	font-family: "Inter";
	border: none;
	border-radius: 5px;
	padding: 14px 33px;
	font-size: 20px;
	font-weight: 400;
	color: #565656;
}

.search__input:focus {
	outline: none;
}

.link {
	display: flex;
	align-items: center;
	gap: 16px;
	color: var(--text-color);
	transition: color .1s ease-in-out;
}

.link:hover {
	color: rgb(162, 171, 187);
}


.link__userPhoto {
	width: 45px;
	border-radius: 50%;
}

.link__username {
	font-weight: 300;
	font-size: 24px;
	width: 270px;
}
